{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">
      <img src="{{ url_for('static', filename ='img/logo.png') }}" align="right" height="150">

      <div class="section-title">
        <h2>Наша команда</h2>
        <p>Описание</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo6.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name6 }} - Ментор</h3>
          <p class="fst-italic">
            Являюсь ментором данного проекта, а также преподавателем на направлении Python продвинутого уровня.
          </p>
        </div>
      </div>

  <spacer height="200" width="100">ㅤㅤㅤ</spacer>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name1 }} - 1 отряд </h3>
          <p class="fst-italic">
            За время обучения научился работать с Django и Flask, кроме этого пишу на таких языках как: C++, Python, HTML, Java и т.п. Работал над проектами в данных областях:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Робототехника</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Инженерия</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Данный проект</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Разработка бизнес проектов</strong></li>
              </ul>
            </div>
          </div>
          <p>
            В данной команде участвовал как программист вместе с Максимом. Владею ораторским мастерством, и занимаюсь вокалом.
          </p>
        </div>
        <div class="social-links">
          <a href="{{ vka }}" class="vk"><i class="fa fa-vk"></i></a>
          <a href="{{ emaila }}" class="email"><i class="fa fa-envelope"></i></a>
          <a href="{{ phonea }}" class="email"><i class="fa fa-envelope"></i></a>
        </div>
      </div>

      <spacer height="200" width="100">ㅤㅤㅤ</spacer>

            <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name2 }} - 1 отряд</h3>
          <p class="fst-italic">
            Текст 1
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>xxx</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>xxx</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>xxx</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>xxx</strong></li>
              </ul>
            </div>
          </div>
          <p>
            xxx
          </p>
        </div>
      </div>

      <spacer height="200" width="100">ㅤㅤㅤ</spacer>

            <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name3 }} - 1 отряд</h3>
          <p class="fst-italic">
            Участник команды, являюсь программистом. Пишу на C#, HTML и Python. Разработал БД и участвовал в разработке самого проекта. Были написаны проекты на темы:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Соц.Инженерия</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Робототехника</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Работа с ИИ</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Работал вместе с Андреем как программист, занимаюсь робототехникой и увлекаюсь игрой в шахматы.
          </p>
        </div>
      </div>

      <spacer height="200" width="100">ㅤㅤㅤ</spacer>

            <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo4.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name4 }} - 2 отряд</h3>
          <p class="fst-italic">
            xxxx
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>xxxx</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>xxxx</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>xxxx</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>xxxx</strong></li>
              </ul>
            </div>
          </div>
          <p>
            xxxx
          </p>
        </div>
      </div>

      <spacer height="200" width="100">ㅤㅤㅤ</spacer>

            <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/photo5.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ name5 }} - 3 отряд</h3>
          <p class="fst-italic">
            Я занимаюсь дизайном уже 2 года, поэтому пошла на курс дизайна в InnoCamp, люблю создавать различные проекты со своими друзьями.
          </p>
          <p>
            Была дизайнером нашего проекта, самая младшая в команде. Как говориться: "Маленькая, да удаленькая".
          </p>
        </div>
    </div>
</div><!-- конец секции -->

{% endblock %}